html {
  color: rgb(232, 230, 227);
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 12px;
  font-family: "futura-pt", sans-serif;
  /* height: 100%; */
  background-color: #181a1b;
  scrollbar-color: #202324 #454a4d;
}

body {
  color: #fff;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "futura-pt", sans-serif;
  color: #fff;
}

.background {
  width: 100vw;
  height: 100vh;
  transition: 1s all ease-in-out;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  background-image: url(../assets/images/background.jpg);
  object-fit: cover;
  opacity: 1;
  background: radial-gradient(circle at 3% 5%, #253239 0%, #0b0c0d 50%);
}

.show {
  transition: 0.4s all ease-in-out;
}

.page.show {
  z-index: 100 !important;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.home {
  /* overflow: hidden; */
  padding-bottom: 0;
}

.page {
  width: 100vw;
  height: 90vh;
  position: absolute;
  transform: translate3d(0, 20%, 0);
  top: 0px;
  left: 0px;
  z-index: 0;
  background: none;
  opacity: 0;
  padding-bottom: 10vw;
  transition: 0.8s ease-in-out;
}

.page.hide {
  display: none;
}

.home .titles {
  top: 50%;
  left: 50%;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  width: max-content;
}

.home .page-title {
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
  font-size: 5vw;
  letter-spacing: 2.6vw;
  color: #3d5257;
  color: hsla(192, 18%, 49%, 1);
  text-shadow: 0px 6px 10px #3d5257;
  text-indent: 2.6vw;
  opacity: 1;
  font-weight: 100;
  position: relative;
  top: 0;
  left: auto;
  transform: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.home .page-subtitle {
  font-size: 2.2vw;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
  font-size: 2vw;
  letter-spacing: 1.8vw;
  text-indent: 1.8vw;
  position: relative;
  top: 0;
  left: auto;
  transform: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.footer-menu.show {
  opacity: 1;
}

.footer-menu {
  bottom: 5vh;
  z-index: 100;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 5vh;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

.footer-menu .menu-items {
  padding: 0;
  margin: 0;
}

.footer-menu .menu-item {
  font-size: 3vw;
  padding-left: 3vw;
  padding-right: 3vw;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  text-indent: 0.2vw;
  opacity: 0.5;
  padding-right: 4vw;
  padding-left: 4vw;
  user-select: none;
}

.page-title {
  font-size: 10vh;
  white-space: nowrap;
  position: absolute;
  top: 12vh;
  font-family: "futura-pt", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  pointer-events: none;
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  letter-spacing: 1vh;
  font-weight: 100;
}

.page-subtitle {
  top: 18vh;
  font-size: 1.5vh;
  letter-spacing: 0.5vh;
  user-select: none;
  position: relative;
  white-space: nowrap;
  pointer-events: none;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  text-align: center;
}

.page-content {
  pointer-events: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-top: 15px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.8;
  text-align: center;
  display: none;
}

.list {
  margin-top: 25vh;
  margin-left: 5vw;
  width: 95vw;
}

.list-item {
  width: 85vw;
  height: 44vw;
  float: left;
  margin: 2.5vw;
  position: relative;
}

.tilt {
  border: 1px solid #222;
}

.list-item .titles {
  position: absolute;
  text-transform: uppercase;
  opacity: 0;
  transition: 0.3s all;
  width: 38.5vw;
  height: 3vw;
  padding: 2vw;
  padding-top: 2vw;
  padding-top: 1vw;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0px;
}
.list-item .title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.1s all;
  font-size: 1.4vw;
  font-family: futura-pt;
}

.list-item img {
  width: 85vw;
  height: 44vw;
  object-fit: cover;
  opacity: 0.7;
  transition: 0.5s opacity;
}
